.sectionList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-evenly;
}

.section {
	margin: 10px;
}

.sectionTitle {
	text-align: center;
	font-size: 20px;
}

.boxList {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	width: 100%;
	height: auto;
	gap: 20px;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	overflow-x: hidden;

	@media screen and (max-width: 1280px) {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-right: 2rem;
		margin-left: 2rem;
	}
}

.box {
	display: flex;
	flex-direction: column;
	background-size: contain;
	width: 18rem;
	height: 18rem;
	border: solid 2px;
	border-radius: 50px;
	cursor: pointer;

	@media screen and (max-width: 650px) {
		width: 10rem;
		height: 10rem;
	}
}

.boxImage {
	height: 100%;
	width: 100%;
	background-size: contain;
}

.boxTitle {
	display: flex;
	align-items: center;
	justify-content: center;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	font-size: 50px;
	font-weight: bolder;
	height: 100%;
	width: 100%;

	@media screen and (max-width: 650px) {
		height: 8rem;
	}
}

.boxLabel {
	display: flex;
	justify-content: center;
	align-self: center;
	width: 100%;
	margin: 1rem 0;
	font-size: 2rem;
	text-align: center;

	@media screen and (max-width: 650px) {
		font-size: 1rem;
	}
}
