.tableListDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	margin: 0 2rem;
}

@media (max-width: 600px) {
	.tableListDiv {
		width: 95%;
		margin-top: 70px;
		margin-bottom: 70px;
	}
}
