.container {
	margin: auto;
}
.qrcode {
	padding: 10px;
	width: fit-content;
	margin: auto;
	gap: 9px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	display: flex;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(2, 40, 122, 0.25);
	border: 1px solid #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	border-right: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}
.dowload {
	width: fit-content;
	padding: 5px;
	align-items: center;
    color: black;
    font-weight: 700;
	display: flex;
	justify-content: center;
	border-radius: 13px;
	background-color: rgb(255, 252, 252);
	backdrop-filter: blur(15px);
	border: 1px solid #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.932);
	border-right: 1px solid rgb(245, 242, 242);
}

.dowload:hover{
	background-color: rgb(16, 119, 2);
	color: #fff;
}